body{
    font-family: 'Nunito', sans-serif; /* Use Nunito font */
    margin:0;
    background-image: linear-gradient(118.68deg, rgba(250, 111, 64, 0.1) -23.45%, rgba(211, 201, 233, 0.2) 25.94%, rgba(248, 248, 249, 0.4) 75.33%);

    align-content: space-around;

}
.container {
 
    align-items: flex-start;
    padding: 10px;
    width: 95%;

    isolation: isolate;
    height: 1288px;
    top: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom-right-radius: 50px;
    

    margin: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #D3C9E9;
    overflow: hidden;
    color: #fff;

    max-height: 114px; /* Set maximum height */
    position: relative; /* Required for absolute positioning */
}

.navbar .left {
    display: flex;
    align-items: flex-start;
}

.navbar .left ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar .left li {

    float: left;
}

.navbar .left img {
    margin-right: 10px;
    max-height: 100%; /* Ensure the image doesn't exceed the navbar's height */
}

.navbar .left li p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom:15px;
    color: #583B91;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute; /* Position the paragraph absolutely */
    bottom: 0; /* Stick the paragraph to the bottom */
}


.navbar a {
    /* SEO-Xpert */

    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 400;

    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Christalle/700 */
    color: #583B91;
    

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}










.navbar img{
    /* 16-STYLY_logo 2 */
    width: 73px;
    height: 66px;
    left: 43px;
    top: 24px;


}



.orange-button {
    background-color: #FA6F40;
    border-radius: 1.25rem;
    width: 143px;
    
    height:51px;

}

.orange-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
}
.section1 .left .tryfree-button {
    background-color: #FA6F40;
    border: 1px solid transparent; /* Use border instead of border-inline */
    width: 143px;
    height: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 1.5rem;
}

.section1 .left .tryfree-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: block; /* Ensure link is block-level */
}




.section1 .left {

    width: 503px;
    height: 336px;
    left: 43px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 150%;
    /* or 84px */

    


}





.left p:nth-child(1) {
    background: linear-gradient(180deg, #583B91 0%, #FA6F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.left p:nth-child(2) {
    /* If the path is beaut */
    width: 377px;
    height: 61px;
    left: 43px;

    /* small

    Body
    */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    /* Christalle/500 */
    color: #2C1E49;


}


/* Background-1 */
/* Button */

/* Auto layout */









.section1 .orange-word{
    /* Welcome the future of design */

    width: 285px;
    height: 29px;
    left: 43px;
    top: 204px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 21.4px;
    line-height: 29px;

    /* Carrot/600 */
    color: #FA6F40;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.section2 .title{
    /* All-inclusive SEO so */


    height: 36px;
    left: 301px;
    top: 1093px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    /* identical to box height, or 100% */
    text-align: center;

    background: linear-gradient(180deg, #7C5CBD 0%, #FA6F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


}
.section2 p{
    /* If the path is beaut */


    height: 38px;
    left: 107px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.116667px;

    /* Christalle/500 */
    color: #2C1E49;


}


.section3 {
    /* Design Beyond Limits Where Humans and AI Collaborate */
    font-weight: 700;
    font-size: 48px;
    width: 408px;
    height: 183px;
    line-height: 65px;
    align-items: center;
    letter-spacing: 0.12px;
    background: linear-gradient(171.8deg, #583B91 -31.49%, #FA6F40 86.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.section3 {
    /* Design Beyond Limits Where Humans and AI Collaborate */
    height:1828px;
    background-image: url('{% static "user_management/css/section3_Background-1.png" %}');
}

.section3 p:nth-child(1) {
    background: linear-gradient(to bottom,  #583B91 0%, #583B91 20%, #FA6F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.container .section3 {
    margin-left: 20px;
}

.container .section3 .title-block{
    font-weight: 700;
    font-size: 48px;
    width: 408px;
    line-height: 65px;
    height: 1115px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    width: 1359.26px;
    height: 306.43px;
    margin-bottom: 20px; /* Adjust as needed */
}

.image-container img {
    width: calc((100% - 20px) / 3); /* Adjust as needed */
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio */
    /* Rectangle 11 */
box-sizing: border-box;
width: 397.08px;
height: 306.43px;
background: url("% static 'user_management/css/display_image1.png' %");
/* Carrot/600 */
border: 1px solid #FA6F40;
border-radius: 22.4764px;

}   




.carousel {

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.carousel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.image-container {
    position: relative;
    width:430px;
    margin-right: 10px; /* Adjust spacing between images */
}

.background-image {
    width: 100%;
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; /* Width from your provided CSS */
    height: 306.43px; /* Height from your provided CSS */
    background: url("{% static 'user_management/css/display_image1.png' %}") center center no-repeat; /* Background image from your provided CSS */
    background-size: cover; /* Adjusts the background size to cover the entire container */
    border: 1px solid #FA6F40; /* Border color from your provided CSS */
    border-radius: 22.4764px; /* Border radius from your provided CSS */
    z-index: 2; /* Ensure the overlay image is positioned above other content */
}


  .pagination {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #333;
  }


  .card-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
    grid-gap: 5px; /* Adjust the gap between cards as needed */
    width: 1113px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */

}


.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  align-content: space-evenly;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  border-radius: 19px;
  width:353px;
  height:350px;
}

.section4 .card-container .card p:nth-child(3){
    text-align: left;
    padding-top: 30px;
    padding-bottom:30px;
}

.section4 .card-container .card a:nth-child(4){
    text-align: left;
    /* Read More */


    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.541667px;
    text-transform: uppercase;

    /* Christalle/500 */
    color: #2C1E49;



}


.section4{
    padding-bottom: 400px;;
}
.section4 .title, .section7 .title{
    /* All-inclusive SEO so */



    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;

    background: linear-gradient(180deg, #7C5CBD 0%, #FA6F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.section4 p{
    /* If the path is beaut */



    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.116667px;

    /* Christalle/500 */
    color: #2C1E49;


}
.section4 .card-container .card .level1 p{
    /* Graphical Representa */

    font-family: 'Nunito';
    font-style:normal;
    font-weight: 900;

    font-size: 18px;

    /* or 150% */

    /* Christalle/300 */
    color: #160F24;


}


.section5 .title,.section7 .title{
    /* All-inclusive SEO so */


    height: 36px;
    left: 301px;
    top: 1093px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    /* identical to box height, or 100% */
    text-align: center;

    background: linear-gradient(180deg, #7C5CBD 0%, #FA6F40 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.section5 p{
    /* If the path is beaut */


    height: 38px;
    left: 107px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.116667px;

    /* Christalle/500 */
    color: #2C1E49;


}



.section7{
    margin-bottom: 400px;
}

/* CSS */
.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust according to your logo size */
    margin-right: 10px; /* Adjust spacing between logo and text */
}

.logo p {
    margin: 0; /* Remove default margin */
}
