<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Room AI{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_management/css/profile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <!-- Add any additional styles or scripts here -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'user_management/css/Styly_logo.jpg' %}" alt="STYLY Logo">
            <p>STYLY</p>
        </div>
        <div class="nav-links">
            <a href="{% url 'priceplan' %}">Generate</a>
            <a href="#" id="priceplan-link" class="{% if 'price_plan' in request.path %}active{% endif %}">Pricing</a>
            <a href="#" id="profile-link">Profile</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div id="page-content" class="">
        {% block content %}
            <!-- Content will be loaded here -->
        {% endblock %}
    </div>
    
    <div id="priceplan-content" class="">
        <!-- Price plan content will be loaded here -->
    </div>

</body>
</html>
