{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_management/css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">


</head>
<body>
    <div class="navbar">

        <img src="{% static 'user_management/css/Styly_logo.jpg' %}" alt="STYLY Logo">
        <p>STYLY</p>

    </div>
    <div class="container">
        <div class="title">
            <p>Our Design Journey, Guided by Experts, Enhanced by AI in seconds</p>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. .</p>
        <h2>Login</h2>
        <form method="post" >
            {% csrf_token %}
            
            <label for="id_username">Username:</label>
            {{ form.username }}
            <label for="id_password">Password:</label>
            {{ form.password }}
            <button type="submit">Login</button>
        </form>
        {% if form.errors %}
            <p class="error-message">Invalid username or password.</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
        
        <p><a href="/">Back to Room AI</a></p>
    </div>
    <footer>
        <div class="left">
            <p>© 2023 styly.com</p>
            <a href="#">Contact Us</a>
        </div>
        <div class="right">
            <a href="#">Terms and Condition</a>
            <a href="#">Privacy Policy</a>
        </div>
    </footer>
    
</body>
</html>
